<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
             {{>header}}
             <p>Esta pagina fue diseñada por Leonel Garza, utiliza datos de mapbox.com y weatherstack.com</p>
             <p>Y es dedicada para Angelica Martinez y Amanda Garza, quienes amo con todo mi corazon</p>
             <img class="portrait" src="/img/parque.jpg">
             <img class="portrait" src="/img/0072272.jpg">
         </div>
        {{>footer}}
    </body>
</html>