<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
             {{>header}}
             <p>This page was designed and created by Leonel Garza, uses data from mapbox.com y weatherstack.com, I'm currently in training to learn node js and this is an example of what I have learned so far.</p>
             <p>I studied Bachelor's degree in Computer Science and Master's degree in Electrical Engineering. I have been working at Prolec Energy for more than 10 years, most of the time as a software developer related to transformer design, currently I am a development engineer.</p>
             <img class="portrait" src="/img/0072272.jpg">
             <p>My work is dedicated to Angelica Martinez and Amanda Garza, who are my inspiration to be a better person and work hard, I love them with all my heart</p>
             <img class="portrait" src="/img/parque.jpg">
         </div>
        {{>footer}}
    </body>
</html>