<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather forecast!</p>
            <form>
                <br>
                <input placeholder="Address">
                <button>Search!</button>
                <br>
                    <input class = "radio" type="radio" id="C" name="fav_unit" checked value="C">
                    <label for="C">C</label>
                    <input class = "radio" type="radio" id="F" name="fav_unit" value="F">
                    <label for="F">F</label>
                <br>
            </form>
             <br>
            <p id="msg1"></p>
            <p id="msg2"></p>
            <img id="img1"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>