<footer> 
    <div>
        <p>Created by: {{name}} <a href="https://www.linkedin.com/in/leonel-garza-loperena-61842229/" > <img class="SmallLogo" src="/img/ln-logo.png" > </a> </p>
     </div>
</footer>